* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "メイリオ", sans-serif;
}

.wrap {
  padding: 20px 0 30px;
  background-color: #e0e0e0;
}
@media (prefers-color-scheme: dark) {
  .wrap {
    background-color: #818181;
  }
}

.content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  .content {
    background-color: #444444;
    color: #ffffff;
  }
}

.heading-lv1 {
  font-size: 32px;
}

.heading-lv2 {
  font-size: 24px;
}

.heading-lv3 {
  font-size: 20px;
  font-weight:bold;
  cursor:pointer;
  background-color:#fed001;
  width:unset;
  border-radius:3px;
  margin: 2px auto 2px auto ;
  padding:10px 10px 10px 10px;
}
@media (prefers-color-scheme: dark) {
  .heading-lv3 {
    color: #000000;
  }
}

.heading-s {
  font-size: 12px;
}

.heading-margin {
  margin-top: 32px;
}

.text {
  margin: 16px 0 0;
  font-size: 16px;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.profile-image {
  margin: 8px 0 0;
  text-align: center;
}

.profile-image img {
  width: 200px;
  height: auto;
  border-radius: 40%;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #00f7ff;
  }
}

.box {
  position: relative;
  padding: 0.25em 0.75em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
.box:before,
.box:after {
  content: '';
  position: absolute;
  top: -5px;
  width: 1px;
  height: -webkit-calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: black;
}
.box:before {
  left: 5px;
}
.box:after {
  right: 5px;
}
.box p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 150px;
  height: 350px;
}

.cardart {
  width: 150px;
  height: 200px;
}

.cardbadge {
  width: 100px;
  height: 100px;
}

.cardsns {
  width: 50px;
  height: 50px;
}

.card:nth-child {
  margin-right: 5px;
  margin-left: 5px;
}

.picture img {
  width: 100%;
}

.description {
  width: 100%;
  height: 145px;
  padding-right: 6px;
  padding-left: 6px;
  box-sizing: border-box;
}

.description p {
  font-size: 12px;
}

.descriptionart {
  width: 100%;
  height: 20px;
  padding-right: 6px;
  padding-left: 6px;
  box-sizing: border-box;
}

.descriptionart p {
  font-size: 12px;
}

.container-6 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 2%; /* 画像の間に余白を設定 */
}
.container-6 a {
  width:14%; /* 1列に設定 */
}
@media (max-width: 768px) {
  .container-6{
      gap:10px 3%;
  }
  .container-6 a {
      width:30%; /* 2列に設定 */
  }
}
